*{ 
    margin: 0;
    padding-top: 5px;
}
body{
    min-height: 100vh;
    background-image: url("images/ .png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
}

img {
    width: 200px;
    height: 210px;
    
    margin: 10px;
    border-radius: 48%;

}

@media(max-width: 600px) {
    main {
        padding: 10px;
        padding-bottom: 10px;
    }
    h1 {
        
        font-size: 25px;
        color: black
    }
    p {
        font-size: larger;
        
        }
     
}


