*{ 
    margin: 0;
    padding-top: 5px;
}
body{
    
    background-image: url("images/ .png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    }



img {
    width: 200px;
    height: 210px;
    
    margin: 10px;
    border-radius: 48%;

}

@media(max-width: 600px) {
    h1 {
        
        font-size: 25px;
        color: black
    }
    p {
    
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 10px;
        
        
        
        }
     
}


