* {
    
    text-decoration: none;
}



.navbar {
    padding-right: 15px;
    padding-left: 15px;
    background: rgb(6, 6, 6);
    /*background-image: url("images/ solrac2.png");
        background-size: cover;
        background-position: center;*/

}
    
    
.navdiv{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo a{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-right: 25px;
}




    



main {
    text-align: center;
    padding: 2em;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #070707;
}



section {
    margin-bottom: 2em;
}

h2 {
    color: black;
    font-family: cursive;
    font-style: italic;
    font-size: 35px;
    
    padding-bottom: 0.5em;
}

article, .video {
    margin-bottom: 1
}


    
    /*header {
    
    background-image: url("images/ solrac2.png");
        background-size: cover;
        background-position: center;
        color: #070606;
        padding: 0em;
        text-align: justify;
    }*/
    
    footer {
        background-image: url("images/footer-bg.jpg");
        background-size: cover;
        background-position: center;
        color: #000000;
        padding: 1em;
        text-align: center;
    }
    
    
    @media (max-width: 600px) {
        .header  {
            padding: 30px 10px;
            
        }
        
        .main {
            padding: 2em;
            }
        
        .footer {
            padding: 15px 0;
        }
    }





/* YouTube Button Style */
.icon-button.youtube {
    background-color: #ff0000;
}

.icon-button.youtube:hover {
    transform: scale(1.1);
}

/* TikTok Button Style */
.icon-button.tiktok {
    background-color: #000000;
}

.icon-button.tiktok:hover {
    transform: scale(1.1);
}

    /* General Styles for Icon Buttons */
.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s;
}

.icon-button.envelope {
    background-color: #0000ff;
}
.icon-button.envelope:hover {
    transform: scale(1.1);
    }

.icon-envelope {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s;
    }
  
